<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
     	<%= stylesheet_link_tag "main" %>  
    </head>
    

			<%= form_for @participant, url: {action: "create"} do |f| %>
				<body> 
			    	<header>
						<div> 
							<%= image_tag("fshillsboro.jpg", :alt => "friendspeaklogo", :class => 'logo') %>          
							<h1>FriendSpeak Volunteer Sign-up Form</h1>
					          <h3>Questions about Friendspeak? <br>Email us at <a href="mailto:friendspeak@hillsboro.org">friendspeak@hillsboro.org</a>!</h3>
				          </div>
					</header>
			       

						<%= f.label :first_name, 'First:' %>
						<%= f.text_field :first_name %>
						<%= f.label :last_name, 'Last:' %>
						<%= f.text_field :last_name %>
						<%= f.label :gender, 'Sex:' %>			             
						<%= f.select :gender, ['Male', 'Female'] %>
						<br>
						<br>
						<%= f.label :email, 'Email:' %>
						<%= f.text_field :email %>
						<%= f.label :phone, 'Phone:' %>
						<%= f.text_field :phone %>

						<%= f.label :street_name, 'Street Number & Name:' %>
						<%= f.text_field :street_name %>
						<%= f.label :city, 'City:' %>
						<%= f.text_field :city %>
						<%= f.label :state, 'State:' %>
						<%= f.text_field :state %>
						<%= f.label :zip, 'Zip:' %>
						<%= f.text_field :zip %>
                        <%= f.hidden_field :role, :value => 'Volunteer', readonly: true%>
						<br>
						<br>

			 <%= f.fields_for :volunteer_detail, @participant.volunteer_detail do |volunteer_detail_field| %>
					    <%= volunteer_detail_field.label :baptism_date, 'Date of Baptism:' %>
 						<%= volunteer_detail_field.date_field :baptism_date %>
						<%= volunteer_detail_field.label :baptism_importance, 'What role do you feel water immersion/baptism plays in salvation?:' %>
						<%= volunteer_detail_field.text_area :baptism_importance %>
						<br>
						<br>
						<%= volunteer_detail_field.label :christian_story, 'Aside from being raised in a Christian home, describe how and why you became a Christian:' %>
						<%= volunteer_detail_field.text_area:christian_story %>
						<%= volunteer_detail_field.label :questions, 'Questions, concerns, or comments?:' %>
						<%= volunteer_detail_field.text_area :questions %>
			<% end %>
						
<br>
<br>

<%= f.submit 'Register' %>

			 

			      
			        


<% end %>
